<!DOCTYPE html>
<html>
<head>
  <title>Shop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>  
  
  <!-- Chained Selects Plugin for jQuery -->
    <!-- http://www.appelsiini.net/projects/chained - remote version -->
    <script src="assets/jquery.chained.remote.min.js"></script>  

  <style type="text/css">
    body {background: white; margin: 20px;}
    h2 {margin: 20px 0;}
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
